In [1]:
num1 = 3
num2 = 5
sum_last = num1 + num2
subtract_last = num1 - num2
multiply_last = num1 * num2
divided_last = num1 / num2
modulus_last = num1 % num2
print(f"Sum: {sum_last}")
print(f"Subtract: {subtract_last}")
print(f"Multiply: {multiply_last}")
print(f"Divided: {multiply_last}")
print(f"Modulus: {modulus_last}")

Sum: 8
Subtract: -2
Multiply: 15
Divided: 15
Modulus: 3

In [2]:
print(" Hello, World")

 Hello, World

In [5]:
name = input(" prathyusha: ")
print("08", "name", "vennapusa")

 prathyusha: name
08 name vennapusa

In [9]:
p = "prathyusha"
print(p)

p = "usha"
age = 22
height = 5.2
print(p, age, height)

prathyusha
usha 22 5.2

In [11]:
print(" prathyusha ")

 prathyusha

In [15]:
num = 4
print(num)

4

In [16]:
a = 10
b = 3
c= 40
print(a, b,c)

10 3 40

In [17]:
s= 10
n=int(s)
m=5.0
f=float(m)
age=22
p=str(age)

print(n)
print(f)
print(p)

10
5.0
22