<a href="https://colab.research.google.com/github/prathyu-08/Day1.ipynb/blob/main/day2_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
a = 5.0
print(type(a))

b = 7
print(type(b))

c = 9-5j
print(type(c))

<class 'float'>
<class 'int'>
<class 'complex'>

In [4]:
d = 'Welcome to Github'
print(d)
print(type(d))

print(d[1])
print(d[4])
print(d[-3])

Welcome to Github
<class 'str'>
e
o
h

In [5]:
a = []
a = [2, 3, 4]
print(a)

b= ["prathyu", "usha", "3.5"]
print(b)

[2, 3, 4]
['prathyu', 'usha', '3.5']

In [7]:
tup1 = (3, 5, 6, 7, 8, 9)
print(tup1[-1])
print(tup1[2])
print(tup1[4])

9
6
8

In [9]:
age = 30
if age <=14:
  print("true")
else:
  print("false")

false

In [16]:
for letters in 'prathyusha':
  if letters == 'a' or letters == "h":
      continue
      print('current letters :', letters)

In [21]:
for letter in 'geeksforgeeks':
  if letter == 'e' or letter == 's':
    break

    print('current letter:', letter)

In [22]:
n=5
for i in range(0,n):
  print(i)

0
1
2
3
4

In [26]:
def fun():
 print('Hello World')
fun()

Hello World

In [33]:
def evenOdd(x):
  if (x % 2 == 0):
   return "even"
  else:
    return "odd"
print(evenOdd(5))
print(evenOdd(146))

odd
even

In [37]:
def cube_value(num):
  return num**3
  print(cube_value(4))
  print(cube_value(6))

In [38]:
def fun(x):
  x[0] = 40
lst = [10, 20, 30, 40]
fun(lst)
print(lst)

def fun2(y):
 y=20
a=10
fun2(a)
print(a)

[40, 20, 30, 40]
10