<a href="https://colab.research.google.com/github/prathyu-08/Day1.ipynb/blob/main/Day3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
def nameAge(name, age):
  print("Hello i am", name)
  print("My age is", age)
print("case-1:")
nameAge("prathyusha", 23)
print("\ncase-2:")
nameAge(23, "prathyusha")

case-1:
Hello i am prathyusha
My age is 23

case-2:
Hello i am 23
My age is prathyusha

In [3]:
def class_info(*args, **kwargs):
  print("Strength:", args)
  print("Subjects:", kwargs)
class_info("Class1", "Class2", "Class3", Name="Maths", Age=23, City="India")

Strength: ('Class1', 'Class2', 'Class3')
Subjects: {'Name': 'Maths', 'Age': 23, 'City': 'India'}

In [4]:
def showinfo( name, village = "Medak"):
  "This prints a passed info into this function"
  print("Name:", name)
  print("Village:", village)
  return
  showinfo(name = "Usha", village= "patancheru")
  showinfo(name = "prathyu")

In [15]:
class FoodItem:
  def __init__(self, name, item):
    self.name = name
    self.item = item
    self.taste = self.taste_method

  def taste_method(self):
      print(f"{self.name} says yummy!")
my_food = FoodItem("Cooking", "Wow")
my_food.taste()

Cooking says yummy!

In [16]:
def apply_operation(func, x, y):
    return func(x, y)

def add(a, b):
    return a+b

def sub(a, b):
    return a-b

print(apply_operation(add, 6, 4))
print(apply_operation(sub, 6, 4))

10
2

In [17]:
def func1():
  print("this is function 1")

def func2():
  print("This is function 2")

function_list = [func1, func2]
for f in function_list:
  f()

this is function 1
This is function 2

In [18]:
numbers = [1, 2, 3, 4, 5, 6]
doubled_numbers = list(map(lambda x: x * 2, numbers))
print(doubled_numbers)

[2, 4, 6, 8, 10, 12]

In [20]:
numbers = [1, 2, 3, 4, 5]
doubled_numbers = list(map(lambda x: x *3, numbers))
print(doubled_numbers)

[3, 6, 9, 12, 15]

In [24]:
from functools import reduce

numbers = [1, 2, 3, 4, 5]
sum_of_numbers = reduce(lambda x, y: x+y, numbers)
print(sum_of_numbers)

15

In [23]:
numbers = [1, 3, 4, 5, 6, 7]
even_numbers = list(filter(lambda x: x% 2 ==0, numbers))
print(even_numbers)

[4, 6]